<a href="https://colab.research.google.com/github/surylokesh1432/Waterqualitypred/blob/main/WaterQualityPred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# To install basic/necessary libraries
pip install pandas numpy matplotlib seaborn scikit-learn

SyntaxError: invalid syntax (ipython-input-2-432501038.py, line 2)

In [ ]:
# Import necessary libraries
import pandas as pd # data manipulation
import numpy as np # numerical python - linear algebra

from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# load the dataset
df = pd.read_csv('PB_All_2000_2021.csv', sep=';')
df

In [ ]:
df.info() # dataset info

In [ ]:
# rows and cols
df.shape

In [ ]:
# Statistics of the data
df.describe().T

In [3]:
# Missing values
df.isnull().sum()

NameError: name 'df' is not defined

In [ ]:
# date is in object - date format
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y')
df

In [ ]:
df.info()

In [ ]:
df = df.sort_values(by=['id', 'date'])
df.head()

In [ ]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
pollutants = ['O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL']

In [ ]:
#Week 2
# drop the missing values - dropna()
df = df.dropna(subset=pollutants)
df.head()

In [ ]:
df.isnull().sum()